@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


.header {
@include size(100%, 62px);
display: flex;
flex-flow: row nowrap;
justify-content: center;
}

.master-nav {
  background: $bgpage;

}

.hero-img {
  background: #01EBFF;
  box-shadow: inset 0px 4px 6px rgba(100, 100, 100, 0.3);
}
