/* You can add global styles to this file, and also import other style files */
//variables
// @import './sass/mixins.scss';

//mixins
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

//variables
$bgpage: #fff;
$bgpost: #eee;


//styles

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
